<div ng-controller="BestillCtrl">
	<h1>Bestill Kurs</h1>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Kurs</th>
				<th>Klasse</th>
			</tr>
		</thead>
	</table>
	<div class="table-dock" ng-repeat="item in list" ng-class="{expanded: item.expanded}">
		<table class="table table-hover" ng-class="{expanded: item.expanded}">
			<thead>
				<tr>
					<th>Kurs</th>
					<th>Klasse</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-click="item.expanded = !item.expanded">
					<td ng-bind-html="item.title" class="half"></td>
					<td class="half">{{item.klasse}} <span class="pull-right">{{item.kurs.length}}</span></td>
				</tr>
			</tbody>
		</table>
		<table class="table table-hover table-condensed table-head" ng-show="item.expanded">
			<thead>
			<tr>
				<th class="large">Kurstype</th>
				<th>Ledige Pl.</th>
				<th>Dato</th>
				<th class="large">Sted</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="kurs in item.kurs">
				<td>{{kurs.title}}</td>
				<td>{{kurs.custom_fields.plasser}}</td>
				<td>{{kurs.custom_fields.dato}}</td>
				<td>{{kurs.custom_fields.sted}}</td>
			</tr>
			</tbody>
		</table>
	</div>

</div>
