<div id="header" class="container">
	<div class="row">
		<div class="col-md-3">
			<a ui-sref="home">
				<img src="assets/img/team-logo.png" id="team-logo" class="pull-left"/>
			</a>
		</div>

		<div class="col-md-9">
			<ul class="team-nav pull-right">
				<li>
					<a ui-sref="priser">Priser</a>
				</li>
				<li>
					<a ui-sref="larere">Lærere</a>
				</li>
				<li>
					<a ui-sref="bestill">Bestill</a>
				</li>
				<li>
					<a ui-sref="elevside">Elevside</a>
				</li>
				<li>
					<a ui-sref="manedensbestatt">Månedensbestått</a>
				</li>
				<li>
					<a ui-sref="kontakt">Kontakt</a>
				</li>
			</ul>
		</div>

	</div>
</div>
