<div id="header" class="container">
	<div class="row">
		<div class="col-md-3">
			<a ui-sref="home">
				<img src="assets/img/team-logo.png" id="team-logo" class="pull-left"/>
			</a>
		</div>

		<div class="col-md-9">
			<ul class="team-nav pull-right">
				<li>
					<a ui-sref="priser({ id: 'priser' })" ui-sref-active="active">Priser</a>
				</li>
				<li>
					<a ui-sref="larere" ui-sref-active="active">Lærere</a>
				</li>
				<li>
					<a ui-sref="bestill" ui-sref-active="active">Bestill</a>
				</li>
				<li>
					<a ui-sref="elevside" ui-sref-active="active">Elevside</a>
				</li>
				<li>
					<a ui-sref="manedensbestatt" ui-sref-active="active">Månedensbestått</a>
				</li>
				<li>
					<a ui-sref="kontakt" ui-sref-active="active">Kontakt</a>
				</li>
			</ul>
		</div>

	</div>
</div>
