<div ng-controller="homeCtrl">
	<div ng-show="mobile" class="am-fade-and-slide-bottom" id="mobilehome">
		<hr/>
		<div class="row">
			<a ui-sref="priser({id:'klasse-b'})" ui-sref-active="active">
				<div class="col-xs-6">
					<img src="assets/img/personbil.png" alt=""/>
				</div>
				<div class="col-xs-6">
					<div>
						<h3>Personbil</h3>
					</div>
				</div>
			</a>
		</div>
		<hr/>
		<div class="row">
			<a ui-sref="priser({id:'klasse-c'})" ui-sref-active="active">
				<div class="col-xs-6">
					<img src="assets/img/lett-lastebil.png" alt=""/>
				</div>
				<div class="col-xs-6">
					<div>
						<h3>Lett Lastebil</h3>
					</div>
				</div>
			</a>
		</div>
		<hr/>
		<div class="row">
			<a ui-sref="priser({id:'klasse-c1'})" ui-sref-active="active">
				<div class="col-xs-6">
					<img src="assets/img/lastebil.png" alt=""/>
				</div>
				<div class="col-xs-6">
					<div>
						<h3>Lastebil</h3>
					</div>
				</div>
			</a>
		</div>
		<hr/>
		<div class="row">
			<a ui-sref="priser({id:'klasse-d'})" ui-sref-active="active">
				<div class="col-xs-6">
					<img src="assets/img/buss.png" alt=""/>
				</div>
				<div class="col-xs-6">
					<div>
						<h3>Buss</h3>
					</div>
				</div>
			</a>
		</div>
		<hr/>
		<div class="imgfooter">
			<img src="assets/img/mobile_footer.png" class="fullwidth" alt=""/>
		</div>
	</div>
</div>
