<div ng-controller="StdCtrl">
	<div class="col-md-6">
		<h3>Postadresse</h3>Team Trafikkskole AS, Rektor Brinchmannsgt. 1, 6413, MOLDE
		<h3>Besøksadresse</h3>Rektor Brinchmannsgt. 1
		<h3>Telefon</h3>71 25 63 69<a class="fb_link icon" href="https://www.facebook.com/TeamTrafikkskoleAS?fref=ts" target="_blank">Følg oss på facebook</a>
		<div class="map_url"><a target="_blank" rel="external" href="https://maps.google.com?q=62.737165,7.162977">Større kart</a></div>
	</div>
	<div class="col-md-6">
		<div ng-controller="ContactCtrl">
			<form method="post" id="KontaktForm" ng-submit="submit(item, kurs)" role=form" novalidate="novalidate">
				<div class="form-group">
					<label for="name" class="sr-only">Ditt navn</label>
					<input type="text" class="form-control" ng-model="name" id="name" name="name" placeholder="Ditt navn">
				</div>
				<div class="form-group">
					<label for="epost" class="sr-only">Epost</label>
					<input type="text" class="form-control" ng-model="epost" id="epost" name="epost" placeholder="Din e-postadresse">
				</div>
				<div class="form-group">
					<label for="message" class="sr-only">Text</label>
					<textarea class="form-control" rows="3" ng-model="message" id="message" name="message" placeholder="Text"></textarea>
				</div>
				<button type="submit" class="btn btn-primary" ng-disabled="sending || KontaktForm.$invalid"><i class="fa fa-spinner fa-spin" ng-show="sending"></i>Send Bestilling</button>
			</form>
		</div>
	</div>
</div>
