<div>
	<h1>Lærere</h1>
	<div class="row" id="laerere">
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-header">
					<div class="img-container">
						<img src="assets/img/profile_geirmagne.jpg" alt=""/>
					</div>
					<h3>Geir Magne Pettersen</h3>
				</div>
				<div class="panel-body">
					<ul>
						<li>
							<i class="fa fa-2x fa-envelope"></i>
							<span>geirmagne@teammolde.no</span>
						</li>
						<li>
							<i class="fa fa-3x fa-mobile"></i>
							<span>95 06 55 09</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-header">
					<div class="img-container">
						<img src="assets/img/profile_iselin.jpg" alt=""/>
					</div>
					<h3>Iselin Larsen</h3>
				</div>
				<div class="panel-body">
					<ul>
						<li>
							<i class="fa fa-2x fa-envelope"></i>
							<span>iselin@teammolde.no</span>
						</li>
						<li>
							<i class="fa fa-3x fa-mobile"></i>
							<span>90 06 90 96</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-header">
					<div class="img-container">
						<img src="assets/img/profile_jorn.jpg" alt=""/>
					</div>
					<h3>Jørn H Sorthe</h3>
				</div>
				<div class="panel-body">
					<ul>
						<li>
							<i class="fa fa-2x fa-envelope"></i>
							<span>jorn@teammolde.no</span>
						</li>
						<li>
							<i class="fa fa-3x fa-mobile"></i>
							<span>95 11 10 82</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-header">
					<div class="img-container">
						<img src="assets/img/profile_kristian.jpg" alt=""/>
					</div>
					<h3>Kristian Vaagen</h3>
				</div>
				<div class="panel-body">
					<ul>
						<li>
							<i class="fa fa-2x fa-envelope"></i>
							<span>kristian@teammolde.no</span>
						</li>
						<li>
							<i class="fa fa-3x fa-mobile"></i>
							<span>48 15 07 75</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-header">
					<div class="img-container">
						<img src="assets/img/profile_leidulf.jpg" alt=""/>
					</div>
					<h3>Leidulf Inderhaug</h3>
				</div>
				<div class="panel-body">
					<ul>
						<li>
							<i class="fa fa-2x fa-envelope"></i>
							<span>leidulf@teammolde.no</span>
						</li>
						<li>
							<i class="fa fa-3x fa-mobile"></i>
							<span>95 06 55 07</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-header">
					<div class="img-container">
						<img src="assets/img/profile_lisa.jpg" alt=""/>
					</div>
					<h3>Lisa Eikrem</h3>
				</div>
				<div class="panel-body">
					<ul>
						<li>
							<i class="fa fa-2x fa-envelope"></i>
							<span>lisa@teammolde.no</span>
						</li>
						<li>
							<i class="fa fa-3x fa-mobile"></i>
							<span>90 14 64 09</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-header">
					<div class="img-container">
						<img src="assets/img/profile_thomas.bronnes.jpg" alt=""/>
					</div>
					<h3>Thomas Døving Bronnes</h3>
				</div>
				<div class="panel-body">
					<ul>
						<li>
							<i class="fa fa-2x fa-envelope"></i>
							<span>thomas.bronnes@teammolde.no</span>
						</li>
						<li>
							<i class="fa fa-3x fa-mobile"></i>
							<span>90 94 73 14</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
