
<div ng-controller="LaerereCtrl">
	<h1>Lærere</h1>
	<div class="row" id="laerere">
		<div class="col-md-4 col-sm-6 am-fade" ng-repeat="laerer in list">
			<div class="panel panel-default">
				<div class="panel-header">
					<div class="img-container">
						<img src="assets/img/{{laerer.profile}}" alt=""/>
					</div>
					<h3 class="text-center">{{laerer.name}}</h3>
				</div>
				<div class="panel-body">
					<table>
						<tr>
							<td class="black-icon"><i class="fa fa-2x fa-envelope"></i></td>
							<td><a href="mailto:{{laerer.email}}">{{laerer.email | emailbreak}}</a></td>
						</tr>
						<tr>
							<td class="black-icon"><i class="fa fa-3x fa-mobile"></i></td>
							<td><a href="tel:{{laerer.phone | removewhitespace}}">{{laerer.phone}}</a></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
