<div class="modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" ng-click="$hide()">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title">
					Påmelding kurs
				</h4>
			</div>
			<div class="modal-body">
				<p>{{item.klasse}}</p>
				<h3>{{kurs.title}}</h3>
				<p><strong>Plasser:</strong>{{kurs.custom_fields.plasser}}</p>
				<p><strong>Instruktør:</strong>{{kurs.custom_fields.instruktor}}</p>
				<p><strong>Sted:</strong>{{kurs.custom_fields.sted}}</p>
				<p><strong>Tid:</strong>{{kurs.custom_fields.dato | eurodate}} - {{kurs.custom_fields.tid}}</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary">Send Bestilling</button>
			</div>
		</div>
	</div>
</div>
