<div class="modal" ng-controller="BestillModalCtrl">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">
					Påmelding kurs
				</h4>
				<button type="button" class="close" data-dismiss="modal" ng-click="$hide()">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
			</div>
			<form method="post" name="BestillForm" ng-submit="submit(item, kurs)" role=form" novalidate="novalidate">
				<div class="modal-body">
					<h3>KLASSE {{item.klasse}} - {{kurs.title}}</h3>
					<div class="tablewrap">
						<table class="table">
							<tr>
								<td><strong>Plasser:</strong></td>
								<td>{{kurs.custom_fields.plasser}}</td>
							</tr>
							<tr>
								<td><strong>Instruktør:</strong></td>
								<td>{{kurs.custom_fields.instruktor}}</td>
							</tr>
							<tr>
								<td><strong>Sted:</strong></td>
								<td>{{kurs.custom_fields.sted}}</td>
							</tr>
							<tr>
								<td><strong>Tid:</strong></td>
								<td>{{kurs.custom_fields.dato | eurodate}} - {{kurs.custom_fields.tid}}</td>
							</tr>
						</table>
					</div>
					<div class="col-md-6">
						<div
							class="form-group"
							ng-class="{'has-error': BestillForm.fornavn.$invalid && BestillForm.fornavn.$dirty,
							  'has-success': BestillForm.fornavn.$valid && BestillForm.fornavn.$dirty}"
							>
							<label for="fornavn" class="sr-only">Fornavn</label>
							<input
								type="text"
								   class="form-control"
								   ng-model="fornavn"
								   id="fornavn"
								   name="fornavn"
								   placeholder="Fornavn"
								   required
								>
						</div>
						<div
							class="form-group"
							ng-class="{'has-error': BestillForm.etternavn.$invalid && BestillForm.etternavn.$dirty,
							  'has-success': BestillForm.etternavn.$valid && BestillForm.etternavn.$dirty}"
							>
							<label for="etternavn" class="sr-only">Etternavn</label>
							<input
								type="text"
								   class="form-control"
								   ng-model="etternavn"
								   id="etternavn"
								   name="etternavn"
								   placeholder="Etternavn"
								   required
								>
						</div>
						<div class="form-inline">
							<label for="fodselsdato_d">Fødselsdato</label>
							<div
								class="form-group"
								ng-class="{'has-error': BestillForm.fodselsdato_d.$invalid && BestillForm.fodselsdato_d.$dirty,
								  'has-success': BestillForm.fodselsdato_d.$valid && BestillForm.fodselsdato_d.$dirty}"
								>
								<input
									type="date"
									   class="form-control"
									   ng-model="fodselsdato_d"
									   id="fodselsdato_d"
									   name="fodselsdato_d"
									   placeholder="DD"
									   min="01"
									   max="31"
									   required
									>
							</div>
							<div
								class="form-group"
								ng-class="{'has-error': BestillForm.fodselsdato_m.$invalid && BestillForm.fodselsdato_m.$dirty,
								  'has-success': BestillForm.fodselsdato_m.$valid && BestillForm.fodselsdato_m.$dirty}"
								>
								<input
									type="date"
									class="form-control"
									ng-model="fodselsdato_m"
									id="fodselsdato_m"
									name="fodselsdato_m"
									placeholder="MM"
									min="01"
									max="12"
									required
									>
							</div>
							<div
								class="form-group"
								ng-class="{'has-error': BestillForm.fodselsdato_a.$invalid && BestillForm.fodselsdato_a.$dirty,
								  'has-success': BestillForm.fodselsdato_a.$valid && BestillForm.fodselsdato_a.$dirty}"
								>
								<input
									type="date"
									class="form-control"
									ng-model="fodselsdato_a"
									id="fodselsdato_a"
									name="fodselsdato_a"
									placeholder="AA"
									min="00"
									max="99"
									required
									>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="formbox">
							<div
								class="form-group"
								ng-class="{'has-error': BestillForm.telefon.$invalid && BestillForm.telefon.$dirty,
								  'has-success': BestillForm.telefon.$valid && BestillForm.telefon.$dirty}"
								>
								<label for="telefon" class="sr-only">Telefon</label>
								<input
									type="text"
									class="form-control"
									ng-model="telefon"
									id="telefon"
									name="telefon"
									placeholder="Telefon"
									either-this-or="epost"
									>
							</div>
							<p class="text-center">eller</p>
							<div
								class="form-group"
								ng-class="{'has-error': BestillForm.epost.$invalid && BestillForm.epost.$dirty,
								  'has-success': BestillForm.epost.$valid && BestillForm.epost.$dirty}"
								>
								<label for="epost" class="sr-only">Epost</label>
								<input
									type="email"
									class="form-control"
									ng-model="epost"
									id="epost"
									name="epost"
									placeholder="Epost"
									ng-pattern="/^[a-z0-9!#$%&'*+/=?^_`{|}~.-]+@[a-z0-9-]+.[a-z0-9-]/"
									either-this-or="telefon"
									>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div
							class="form-group"
							ng-class="{'has-error': BestillForm.annet.$invalid && BestillForm.annet.$dirty,
							  'has-success': BestillForm.annet.$valid && BestillForm.annet.$dirty}"
							>
							<label for="annet" class="sr-only">Annet</label>
							<textarea
								class="form-control"
								rows="3"
								ng-model="annet"
								id="annet"
								name="annet"
								placeholder="Annet"
								></textarea>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div class="clearfix">
						<div class="errorbox">
							<span class="am-flip-x" ng-show="(BestillForm.fornavn.$invalid && BestillForm.fornavn.$dirty) || (BestillForm.etternavn.$invalid && BestillForm.etternavn.$dirty) || (BestillForm.fodselsdato_d.$invalid && BestillForm.fodselsdato_d.$dirty) || (BestillForm.fodselsdato_m.$invalid && BestillForm.fodselsdato_m.$dirty) || (BestillForm.fodselsdato_a.$invalid && BestillForm.fodselsdato_a.$dirty) || (BestillForm.epost.$invalid && BestillForm.epost.$dirty) || (BestillForm.telefon.$invalid && BestillForm.telefon.$dirty)">
								<span class="label label-warning am-fade" ng-show="BestillForm.fornavn.$error.required || BestillForm.etternavn.$error.required || BestillForm.fodselsdato_d.$error.required || BestillForm.fodselsdato_m.$error.required || BestillForm.fodselsdato_a.$error.required">Make sure to fill out all fields!</span>
								<span class="label label-warning am-fade" ng-show="BestillForm.epost.$error.email || BestillForm.epost.$error.pattern">Please use a valid email address.</span>
								<span class="label label-warning" ng-show="BestillForm.epost.$error.eitherthisor || BestillForm.epost.$error.eitherthisor">Please fill in either an email address or a telephone number!</span>
							</span>
						</div>
					</div>
					<button type="submit" class="btn btn-primary" ng-disabled="(formstatus == 'sending') || BestillForm.$invalid">
						<i class="fa fa-circle-o-notch fa-spin am-fade" ng-show="formstatus == 'sending'"></i>
						<i class="fa fa-check" ng-show="formstatus == 'sent'"></i>
						<i class="fa fa-times" ng-show="formstatus == 'error'"></i>
						<span ng-hide="formstatus != ''">Send Bestilling</span>
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
