<div class="modal" ng-controller="BestillModalCtrl">
	<div class="modal-dialog">
		<div class="modal-content">
			<form method="post" id="BestillForm" ng-submit="submit(item, kurs)" role=form" novalidate="novalidate">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" ng-click="$hide()">
						<span aria-hidden="true">&times;</span>
						<span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title">
						Påmelding kurs
					</h4>
				</div>
				<div class="modal-body">
					<h3>KLASSE {{item.klasse}} - {{kurs.title}}</h3>
					<div class="tablewrap">
						<table class="table">
							<tr>
								<td><strong>Plasser:</strong></td>
								<td>{{kurs.custom_fields.plasser}}</td>
							</tr>
							<tr>
								<td><strong>Instruktør:</strong></td>
								<td>{{kurs.custom_fields.instruktor}}</td>
							</tr>
							<tr>
								<td><strong>Sted:</strong></td>
								<td>{{kurs.custom_fields.sted}}</td>
							</tr>
							<tr>
								<td><strong>Tid:</strong></td>
								<td>{{kurs.custom_fields.dato | eurodate}} - {{kurs.custom_fields.tid}}</td>
							</tr>
						</table>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="fornavn" class="sr-only">Fornavn</label>
							<input type="text" class="form-control" ng-model="fornavn" id="fornavn" name="fornavn" placeholder="Fornavn">
						</div>
						<div class="form-group">
							<label for="etternavn" class="sr-only">Etternavn</label>
							<input type="text" class="form-control" ng-model="etternavn" id="etternavn" name="etternavn" placeholder="Etternavn">
						</div>
						<div class="form-group">
							<label for="fodselsdato" class="sr-only">Fødselsdato</label>
							<input type="text" class="form-control" ng-model="fodselsdato" id="fodselsdato" name="fodselsdato" placeholder="Fødselsdato - DDMMAA">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="telefon" class="sr-only">Telefon</label>
							<input type="text" class="form-control" ng-model="telefon" id="telefon" name="telefon" placeholder="Telefon">
						</div>
						<div class="form-group">
							<label for="epost" class="sr-only">Epost</label>
							<input type="text" class="form-control" ng-model="epost" id="epost" name="epost" placeholder="Epost">
						</div>
					</div>
					<div class="col-md-12">
						<label for="annet" class="sr-only">Annet</label>
						<textarea class="form-control" rows="3" ng-model="annet" id="annet" name="annet" placeholder="Annet"></textarea>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary" ng-disabled="sending || BestillForm.$invalid"><i class="fa fa-circle-o-notch fa-spin" ng-show="sending"></i>Send Bestilling</button>
				</div>
			</form>
		</div>
	</div>
</div>
