<table>

	<thead>
	<tr>
		<th>Kurs</th>
		<th>Klasse</th>
	</tr>
	</thead>

	<tbody>

	<tr>
		<td><a href="/trafikalt-grunnkurs-tg">Trafikalt grunnkurs TG</a></td>
		<td></td>
	</tr>

	<tr>
		<td><a href="/b-automat">Personbil - Automat</a></td>
		<td><a href="/b-automat">B - Automat</a></td>
	</tr>

	<tr>
		<td><a href="/klasse-am146">Moped/scooter</a></td>
		<td><a href="/klasse-am146">AM146</a></td>
	</tr>

	<tr>
		<td><a href="/klasse-b">Personbil</a></td>
		<td><a href="/klasse-b">B</a></td>
	</tr>

	<tr>
		<td><a href="/klasse-b96">Personbil m. henger <span class="small-text">(Opptil totalt 4250kg last)</span></a></td>
		<td><a href="/klasse-b96">B96</a></td>
	</tr>

	<tr>
		<td><a href="/klasse-be">Personbil m. henger</a></td>
		<td><a href="/klasse-be">BE</a></td>
	</tr>

	<tr>
		<td><a href="/klasse-c">Stor lastebil</a></td>
		<td><a href="/klasse-c">C</a></td>
	</tr>

	<tr>
		<td><a href="/klasse-c1">Liten lastebil</a></td>
		<td><a href="/klasse-c1">C1</a></td>
	</tr>

	<tr>
		<td><a href="/klasse-c1e">Liten lastebil m. henger</a></td>
		<td><a href="/klasse-c1e">C1E</a></td>
	</tr>

	<tr>
		<td><a href="/klasse-ce">Lastebil m. henger</a></td>
		<td><a href="/klasse-ce">CE</a></td>
	</tr>

	<tr>
		<td><a href="/klasse-d">Buss</a></td>
		<td><a href="/klasse-d">D</a></td>
	</tr>

	<tr>
		<td><a href="/klasse-d1">Minibuss</a></td>
		<td><a href="/klasse-d1">D1</a></td>
	</tr>

	<tr>
		<td><a href="/klasse-d1e">Minibuss m. henger</a></td>
		<td><a href="/klasse-d1e">D1E</a></td>
	</tr>

	<tr>
		<td><a href="/klasse-de">Buss m. henger</a></td>
		<td><a href="/klasse-de">DE</a></td>
	</tr>

	<tr>
		<td><a href="/klasse-t">Traktor</a></td>
		<td><a href="/klasse-t">T</a></td>
	</tr>

	<tr>
		<td><a href="/ysk-etterutdanning-godstransport">YSK etterutdanning godstransport</a></td>
		<td></td>
	</tr>

	<tr>
		<td><a href="/ysk-etterutdanning-persontransport">YSK etterutdanning persontransport</a></td>
		<td></td>
	</tr>

	<tr>
		<td><a href="/ysk-godstransport-ydg">YSK Godstransport YDG</a></td>
		<td></td>
	</tr>

	<tr>
		<td><a href="/ysk-persontransport-ydp">YSK Persontransport YDP</a></td>
		<td></td>
	</tr>

	</tbody>

</table>
