<h3>Trafikalt grunnkurs TG</h3>

<table>
	<thead>
	<tr>
		<th>Oppl&aelig;ring</th>

		<th>Varighet</th>

		<th>Pris</th>
	</tr>
	</thead>

	<tbody>
	<tr>
		<td>TG F&oslash;rstehjelpskurs</td>

		<td></td>

		<td>700,-</td>
	</tr>
	</tbody>
</table>

<table>
	<thead>
	<tr>
		<th>Kurs</th>

		<th>Varighet</th>

		<th>Pris</th>
	</tr>
	</thead>

	<tbody>
	<tr>
		<td>F&oslash;rstehjelpskurs (tema 5 og 6)</td>

		<td></td>

		<td>700,-</td>
	</tr>

	<tr>
		<td>M&oslash;rkedemonstrasjoner (tema 7)</td>

		<td></td>

		<td>1600,-</td>
	</tr>

	<tr>
		<td>Trafikalt grunnkurs uten m&oslash;rkedemo</td>

		<td></td>

		<td>1500,-</td>
	</tr>
	</tbody>
</table>

<table>
	<thead>
	<tr>
		<th>Andre varer</th>

		<th>Varighet</th>

		<th>Pris</th>
	</tr>
	</thead>

	<tbody>
	<tr>
		<td>ATL Veien til f&oslash;rerkortet CD-rom</td>

		<td></td>

		<td>690,-</td>
	</tr>

	<tr>
		<td>TF F&oslash;rerkortet lesebok</td>

		<td></td>

		<td>350,-</td>
	</tr>

	<tr>
		<td>TF F&oslash;rerkortet lydbok</td>

		<td></td>

		<td>350,-</td>
	</tr>

	<tr>
		<td>TF F&oslash;rerkortet Oppgavebok</td>

		<td></td>

		<td>220,-</td>
	</tr>

	<tr>
		<td>VTF trafikalt grunnkurs</td>

		<td></td>

		<td>110,-</td>
	</tr>

	<tr>
		<td>VTF Traktor lesebok</td>

		<td></td>

		<td>208,-</td>
	</tr>

	<tr>
		<td>VTF Traktor Sp&oslash;rsm&aring;lsbok</td>

		<td></td>

		<td>156,-</td>
	</tr>
	</tbody>
</table>

<table>
	<thead>
	<tr>
		<th>Digitale l&aelig;ringsressurser</th>

		<th>Varighet</th>

		<th>Pris</th>
	</tr>
	</thead>

	<tbody>
	<tr>
		<td>eTeori Kl B</td>

		<td></td>

		<td>0,-</td>
	</tr>
	</tbody>
</table>

<h3>Alle klasser</h3>

<table>
	<thead>
	<tr>
		<th>Oppl&aelig;ring</th>

		<th>Varighet</th>

		<th>Pris</th>
	</tr>
	</thead>

	<tbody>
	<tr>
		<td>Teorigjennomgang</td>

		<td></td>

		<td>500,-</td>
	</tr>
	</tbody>
</table>

<h3>B - Automat</h3>

<table>
	<thead>
	<tr>
		<th>Oppl&aelig;ring</th>

		<th>Varighet</th>

		<th>Pris</th>
	</tr>
	</thead>

	<tbody>
	<tr>
		<td>Dobbel kj&oslash;retime</td>

		<td></td>

		<td>1240,-</td>
	</tr>

	<tr>
		<td>F&oslash;rerpr&oslash;ve</td>

		<td></td>

		<td>1550,-</td>
	</tr>

	<tr>
		<td>Kj&oslash;retentamen</td>

		<td></td>

		<td>1250,-</td>
	</tr>

	<tr>
		<td>Kj&oslash;retime</td>

		<td></td>

		<td>620,-</td>
	</tr>

	<tr>
		<td>Trinn 2 Veiledningstime</td>

		<td></td>

		<td>620,-</td>
	</tr>

	<tr>
		<td>Trinn 3 Sikkerhetskurs p&aring; bane</td>

		<td></td>

		<td>4000,-</td>
	</tr>

	<tr>
		<td>Trinn 3 Veiledningstime</td>

		<td></td>

		<td>620,-</td>
	</tr>

	<tr>
		<td>Trinn 3, Forbikj&oslash;ring</td>

		<td></td>

		<td>1600,-</td>
	</tr>

	<tr>
		<td>Trinn 4, tema 4.1.1 Bilkj&oslash;ringens risiko</td>

		<td></td>

		<td>700,-</td>
	</tr>

	<tr>
		<td>Trinn 4, tema 4.1.2 Kj&oslash;rekompetanse</td>

		<td></td>

		<td>3700,-</td>
	</tr>

	<tr>
		<td>Trinn 4, tema 4.1.3 Planlegging</td>

		<td></td>

		<td>2400,-</td>
	</tr>

	<tr>
		<td>Trinn 4, tema 4.1.4 Refleksjon oppsummering</td>

		<td></td>

		<td>700,-</td>
	</tr>

	<tr>
		<td>Trinn3, glattkj&oslash;ring 1 elev</td>

		<td></td>

		<td>4000,-</td>
	</tr>

	<tr>
		<td>Trippeltime</td>

		<td></td>

		<td>1860,-</td>
	</tr>
	</tbody>
</table>

<table>
	<thead>
	<tr>
		<th>Andre varer</th>

		<th>Varighet</th>

		<th>Pris</th>
	</tr>
	</thead>

	<tbody>
	<tr>
		<td>ATL Veien til f&oslash;rerkortet CD-rom</td>

		<td></td>

		<td>690,-</td>
	</tr>
	</tbody>
</table>

<h3>Klasse AM146</h3>

<table>
	<thead>
	<tr>
		<th>Kurs</th>

		<th>Varighet</th>

		<th>Pris</th>
	</tr>
	</thead>

	<tbody>
	<tr>
		<td>Mopedkurs inkl. teori og kj&oslash;ring</td>

		<td></td>

		<td>4500,-</td>
	</tr>
	</tbody>
</table>

<table>
	<thead>
	<tr>
		<th>Andre varer</th>

		<th>Varighet</th>

		<th>Pris</th>
	</tr>
	</thead>

	<tbody>
	<tr>
		<td>ATL Veien til f&oslash;rerkortet CD-rom</td>

		<td></td>

		<td>690,-</td>
	</tr>

	<tr>
		<td>Mopedleie helt kurs</td>

		<td></td>

		<td>1600,-</td>
	</tr>

	<tr>
		<td>Mopedleie pr. gang</td>

		<td></td>

		<td>400,-</td>
	</tr>

	<tr>
		<td>quiz lodd</td>

		<td></td>

		<td>30,-</td>
	</tr>

	<tr>
		<td>TF F&oslash;rerkortet lesebok</td>

		<td></td>

		<td>350,-</td>
	</tr>

	<tr>
		<td>TF F&oslash;rerkortet Oppgavebok</td>

		<td></td>

		<td>220,-</td>
	</tr>

	<tr>
		<td>Veien til mopedf&oslash;rerkortet</td>

		<td></td>

		<td>175,-</td>
	</tr>

	<tr>
		<td>Veien til mopedf&oslash;rerkortet sp&oslash;rsm&aring;lsbok</td>

		<td></td>

		<td>156,-</td>
	</tr>
	</tbody>
</table>

<table>
	<thead>
	<tr>
		<th>Digitale l&aelig;ringsressurser</th>

		<th>Varighet</th>

		<th>Pris</th>
	</tr>
	</thead>

	<tbody>
	<tr>
		<td>eTeori Kl B</td>

		<td></td>

		<td>0,-</td>
	</tr>
	</tbody>
</table>

<h3>Klasse B</h3>

<table>
	<thead>
	<tr>
		<th>Oppl&aelig;ring</th>

		<th>Varighet</th>

		<th>Pris</th>
	</tr>
	</thead>

	<tbody>
	<tr>
		<td>Dobbel kj&oslash;retime</td>

		<td></td>

		<td>1200,-</td>
	</tr>

	<tr>
		<td>F&oslash;rerpr&oslash;ve</td>

		<td></td>

		<td>1550,-</td>
	</tr>

	<tr>
		<td>Kj&oslash;retentamen</td>

		<td></td>

		<td>1250,-</td>
	</tr>

	<tr>
		<td>Kj&oslash;retime</td>

		<td></td>

		<td>600,-</td>
	</tr>

	<tr>
		<td>TG F&oslash;rstehjelpskurs</td>

		<td></td>

		<td>700,-</td>
	</tr>

	<tr>
		<td>Trinn 2 Veiledningstime</td>

		<td></td>

		<td>600,-</td>
	</tr>

	<tr>
		<td>Trinn 3 Sikkerhetskurs p&aring; bane</td>

		<td></td>

		<td>4000,-</td>
	</tr>

	<tr>
		<td>Trinn 3 Veiledningstime</td>

		<td></td>

		<td>600,-</td>
	</tr>

	<tr>
		<td>Trinn 3, Forbikj&oslash;ring</td>

		<td></td>

		<td>1600,-</td>
	</tr>

	<tr>
		<td>Trinn 4, tema 4.1.1 Bilkj&oslash;ringens risiko</td>

		<td></td>

		<td>700,-</td>
	</tr>

	<tr>
		<td>Trinn 4, tema 4.1.2 Kj&oslash;rekompetanse</td>

		<td></td>

		<td>3700,-</td>
	</tr>

	<tr>
		<td>Trinn 4, tema 4.1.3 Planlegging</td>

		<td></td>

		<td>2400,-</td>
	</tr>

	<tr>
		<td>Trinn 4, tema 4.1.4 Refleksjon oppsummering</td>

		<td></td>

		<td>700,-</td>
	</tr>
	</tbody>
</table>

<table>
	<thead>
	<tr>
		<th>Kurs</th>

		<th>Varighet</th>

		<th>Pris</th>
	</tr>
	</thead>

	<tbody>
	<tr>
		<td>Trinn 4.1.1 Bilkj&oslash;ringens risiko</td>

		<td></td>

		<td>700,-</td>
	</tr>

	<tr>
		<td>Trinn 4.1.4 Refleksjon og oppsummering</td>

		<td></td>

		<td>700,-</td>
	</tr>
	</tbody>
</table>

<table>
	<thead>
	<tr>
		<th>Andre varer</th>

		<th>Varighet</th>

		<th>Pris</th>
	</tr>
	</thead>

	<tbody>
	<tr>
		<td>ATL Veien til f&oslash;rerkortet CD-rom</td>

		<td></td>

		<td>690,-</td>
	</tr>

	<tr>
		<td>How to get your driving licence lesebok</td>

		<td></td>

		<td>394,-</td>
	</tr>

	<tr>
		<td>Nettlappen teorikurs 1 uke</td>

		<td></td>

		<td>150,-</td>
	</tr>

	<tr>
		<td>Questions and answers</td>

		<td></td>

		<td>269,-</td>
	</tr>

	<tr>
		<td>quiz lodd</td>

		<td></td>

		<td>30,-</td>
	</tr>

	<tr>
		<td>TF F&oslash;rerkortet lesebok</td>

		<td></td>

		<td>350,-</td>
	</tr>

	<tr>
		<td>TF F&oslash;rerkortet lydbok</td>

		<td></td>

		<td>350,-</td>
	</tr>

	<tr>
		<td>TF F&oslash;rerkortet Oppgavebok</td>

		<td></td>

		<td>220,-</td>
	</tr>
	</tbody>
</table>

<table>
	<thead>
	<tr>
		<th>Digitale l&aelig;ringsressurser</th>

		<th>Varighet</th>

		<th>Pris</th>
	</tr>
	</thead>

	<tbody>
	<tr>
		<td>eTeori Kl B</td>

		<td></td>

		<td>0,-</td>
	</tr>
	</tbody>
</table>

<h3>Klasse B96</h3>

<table>
	<thead>
	<tr>
		<th>Oppl&aelig;ring</th>

		<th>Varighet</th>

		<th>Pris</th>
	</tr>
	</thead>

	<tbody>
	<tr>
		<td>Dobbeltime</td>

		<td></td>

		<td>1440,-</td>
	</tr>

	<tr>
		<td>Kj&oslash;retime</td>

		<td></td>

		<td>720,-</td>
	</tr>

	<tr>
		<td>Trinn 2 Veiledningstime</td>

		<td></td>

		<td>720,-</td>
	</tr>

	<tr>
		<td>Trinn 3 Veiledningstime</td>

		<td></td>

		<td>720,-</td>
	</tr>

	<tr>
		<td>Trinn 4 Lastsikringskurs</td>

		<td></td>

		<td>1300,-</td>
	</tr>

	<tr>
		<td>Trinn 4 Sikkerhetskurs p&aring; vei</td>

		<td></td>

		<td>2500,-</td>
	</tr>
	</tbody>
</table>

<table>
	<thead>
	<tr>
		<th>Kurs</th>

		<th>Varighet</th>

		<th>Pris</th>
	</tr>
	</thead>

	<tbody>
	<tr>
		<td>Trinn 4 Lastsikringskurs</td>

		<td></td>

		<td>1300,-</td>
	</tr>
	</tbody>
</table>

<h3>Klasse BE</h3>

<table>
	<thead>
	<tr>
		<th>Oppl&aelig;ring</th>

		<th>Varighet</th>

		<th>Pris</th>
	</tr>
	</thead>

	<tbody>
	<tr>
		<td>Dobbel kj&oslash;retime</td>

		<td></td>

		<td>1440,-</td>
	</tr>

	<tr>
		<td>F&oslash;rerpr&oslash;ve</td>

		<td></td>

		<td>1700,-</td>
	</tr>

	<tr>
		<td>Kj&oslash;retime</td>

		<td></td>

		<td>720,-</td>
	</tr>

	<tr>
		<td>Trinn 2 Veiledningstime</td>

		<td></td>

		<td>720,-</td>
	</tr>

	<tr>
		<td>Trinn 3 Veiledningstime</td>

		<td></td>

		<td>720,-</td>
	</tr>

	<tr>
		<td>Trinn 4 Lastsikringskurs</td>

		<td></td>

		<td>1300,-</td>
	</tr>

	<tr>
		<td>Trinn 4 Sikkerhetskurs p&aring; vei</td>

		<td></td>

		<td>2500,-</td>
	</tr>
	</tbody>
</table>

<table>
	<thead>
	<tr>
		<th>Kurs</th>

		<th>Varighet</th>

		<th>Pris</th>
	</tr>
	</thead>

	<tbody>
	<tr>
		<td>Trinn 4 Lastsikringskurs</td>

		<td></td>

		<td>1300,-</td>
	</tr>
	</tbody>
</table>

<h3>Klasse C</h3>

<table>
	<thead>
	<tr>
		<th>Oppl&aelig;ring</th>

		<th>Varighet</th>

		<th>Pris</th>
	</tr>
	</thead>

	<tbody>
	<tr>
		<td>Dobbel kj&oslash;retime</td>

		<td></td>

		<td>2200,-</td>
	</tr>

	<tr>
		<td>F&oslash;rerpr&oslash;ve</td>

		<td></td>

		<td>3000,-</td>
	</tr>

	<tr>
		<td>Kj&oslash;retime</td>

		<td></td>

		<td>1100,-</td>
	</tr>

	<tr>
		<td>Sikkerhetskontroll storbil</td>

		<td></td>

		<td>1100,-</td>
	</tr>

	<tr>
		<td>Sikkerhetskurs p&aring; veg 4 timer (har tung fk)</td>

		<td></td>

		<td>5000,-</td>
	</tr>

	<tr>
		<td>Sikkerhetskurs p&aring; vei, utvidelse fra C1 eller D1</td>

		<td></td>

		<td>5000,-</td>
	</tr>

	<tr>
		<td>Trinn 1 Grunnkurs</td>

		<td></td>

		<td>1300,-</td>
	</tr>

	<tr>
		<td>Trinn 2 Veiledningstime</td>

		<td></td>

		<td>1100,-</td>
	</tr>

	<tr>
		<td>Trinn 3 Veiledningstime</td>

		<td></td>

		<td>1100,-</td>
	</tr>

	<tr>
		<td>Trinn 4 Sikkerhetskurs p&aring; vei</td>

		<td></td>

		<td>7500,-</td>
	</tr>

	<tr>
		<td>Trippel kj&oslash;retime</td>

		<td></td>

		<td>3300,-</td>
	</tr>
	</tbody>
</table>

<table>
	<thead>
	<tr>
		<th>Kurs</th>

		<th>Varighet</th>

		<th>Pris</th>
	</tr>
	</thead>

	<tbody>
	<tr>
		<td>Trinn 1 Grunnkurs</td>

		<td></td>

		<td>1300,-</td>
	</tr>

	<tr>
		<td>Trinn 4 Lastsikringskurs</td>

		<td></td>

		<td>3200,-</td>
	</tr>

	<tr>
		<td>Trinn 4 Ulykkesberedskap</td>

		<td></td>

		<td>3200,-</td>
	</tr>
	</tbody>
</table>

<table>
	<thead>
	<tr>
		<th>Andre varer</th>

		<th>Varighet</th>

		<th>Pris</th>
	</tr>
	</thead>

	<tbody>
	<tr>
		<td>ATL arbeidsbok buss lastebil vogntog</td>

		<td></td>

		<td>320,-</td>
	</tr>

	<tr>
		<td>ATL lesebok buss,lastebil,vogntog</td>

		<td></td>

		<td>575,-</td>
	</tr>

	<tr>
		<td>ATL Sp&oslash;rsm&aring;lsbok m/fasit</td>

		<td></td>

		<td>156,-</td>
	</tr>

	<tr>
		<td>CD rom VTF Buss Lastebil Vogntog</td>

		<td></td>

		<td>794,-</td>
	</tr>

	<tr>
		<td>Veien til Yrkessj&aring;f&oslash;r buss/lastebil</td>

		<td></td>

		<td>575,-</td>
	</tr>

	<tr>
		<td>Veien til Yrkessj&aring;f&oslash;r buss/lastebil arbeidsbok</td>

		<td></td>

		<td>156,-</td>
	</tr>

	<tr>
		<td>Veien til Yrkessj&aring;f&oslash;r buss/lastebil
			Sp&oslash;rsm&aring;lsbok</td>

		<td></td>

		<td>169,-</td>
	</tr>

	<tr>
		<td>Veien til yrkessj&aring;f&oslash;r etterutdanning</td>

		<td></td>

		<td>225,-</td>
	</tr>

	<tr>
		<td>VTF Sp&oslash;rsm&aring;lsbok m/fasit</td>

		<td></td>

		<td>156,-</td>
	</tr>
	</tbody>
</table>

<h3>Klasse C1</h3>

<table>
	<thead>
	<tr>
		<th>Oppl&aelig;ring</th>

		<th>Varighet</th>

		<th>Pris</th>
	</tr>
	</thead>

	<tbody>
	<tr>
		<td>Dobbel kj&oslash;retime</td>

		<td></td>

		<td>1800,-</td>
	</tr>

	<tr>
		<td>F&oslash;rerpr&oslash;ve</td>

		<td></td>

		<td>2700,-</td>
	</tr>

	<tr>
		<td>Kj&oslash;retime</td>

		<td></td>

		<td>900,-</td>
	</tr>

	<tr>
		<td>Trinn 2 Veiledningstime</td>

		<td></td>

		<td>900,-</td>
	</tr>

	<tr>
		<td>Trinn 3 Veiledningstime</td>

		<td></td>

		<td>900,-</td>
	</tr>

	<tr>
		<td>Trinn 4 Sikkerhetskurs p&aring; vei</td>

		<td></td>

		<td>4500,-</td>
	</tr>

	<tr>
		<td>Trippel kj&oslash;retime</td>

		<td></td>

		<td>2700,-</td>
	</tr>
	</tbody>
</table>

<table>
	<thead>
	<tr>
		<th>Kurs</th>

		<th>Varighet</th>

		<th>Pris</th>
	</tr>
	</thead>

	<tbody>
	<tr>
		<td>Trinn 1 Grunnkurs</td>

		<td></td>

		<td>1300,-</td>
	</tr>

	<tr>
		<td>Trinn 4 Lastsikringskurs</td>

		<td></td>

		<td>3200,-</td>
	</tr>

	<tr>
		<td>Trinn 4 Ulykkesberedskap</td>

		<td></td>

		<td>3200,-</td>
	</tr>
	</tbody>
</table>

<table>
	<thead>
	<tr>
		<th>Andre varer</th>

		<th>Varighet</th>

		<th>Pris</th>
	</tr>
	</thead>

	<tbody>
	<tr>
		<td>VTF lett lastebil</td>

		<td></td>

		<td>333,-</td>
	</tr>
	</tbody>
</table>

<h3>Klasse C1E</h3>

<table>
	<thead>
	<tr>
		<th>Oppl&aelig;ring</th>

		<th>Varighet</th>

		<th>Pris</th>
	</tr>
	</thead>

	<tbody>
	<tr>
		<td>Dobbel kj&oslash;retime</td>

		<td></td>

		<td>2000,-</td>
	</tr>

	<tr>
		<td>F&oslash;rerpr&oslash;ve</td>

		<td></td>

		<td>3000,-</td>
	</tr>

	<tr>
		<td>Kj&oslash;retime</td>

		<td></td>

		<td>1000,-</td>
	</tr>

	<tr>
		<td>Trinn 2 Veiledningstime</td>

		<td></td>

		<td>1000,-</td>
	</tr>

	<tr>
		<td>Trinn 3 Veiledningstime</td>

		<td></td>

		<td>1000,-</td>
	</tr>

	<tr>
		<td>Trinn 4 Sikkerhetskurs p&aring; vei</td>

		<td></td>

		<td>4800,-</td>
	</tr>

	<tr>
		<td>Trippel kj&oslash;retime</td>

		<td></td>

		<td>3000,-</td>
	</tr>
	</tbody>
</table>

<h3>Klasse CE</h3>

<table>
	<thead>
	<tr>
		<th>Oppl&aelig;ring</th>

		<th>Varighet</th>

		<th>Pris</th>
	</tr>
	</thead>

	<tbody>
	<tr>
		<td>Dobbel kj&oslash;retime</td>

		<td></td>

		<td>2700,-</td>
	</tr>

	<tr>
		<td>F&oslash;rerpr&oslash;ve</td>

		<td></td>

		<td>3700,-</td>
	</tr>

	<tr>
		<td>Kj&oslash;retime</td>

		<td></td>

		<td>1350,-</td>
	</tr>

	<tr>
		<td>Sikkerhetskontroll storbil</td>

		<td></td>

		<td>1100,-</td>
	</tr>

	<tr>
		<td>Trinn 2 Veiledningstime</td>

		<td></td>

		<td>1350,-</td>
	</tr>

	<tr>
		<td>Trinn 3 Veiledningstime</td>

		<td></td>

		<td>1350,-</td>
	</tr>

	<tr>
		<td>Trinn 4 Sikkerhetskurs p&aring; vei</td>

		<td></td>

		<td>13000,-</td>
	</tr>

	<tr>
		<td>Trippel kj&oslash;retime</td>

		<td></td>

		<td>4050,-</td>
	</tr>
	</tbody>
</table>

<table>
	<thead>
	<tr>
		<th>Andre varer</th>

		<th>Varighet</th>

		<th>Pris</th>
	</tr>
	</thead>

	<tbody>
	<tr>
		<td>ATL arbeidsbok buss lastebil vogntog</td>

		<td></td>

		<td>320,-</td>
	</tr>

	<tr>
		<td>ATL lesebok buss,lastebil,vogntog</td>

		<td></td>

		<td>575,-</td>
	</tr>

	<tr>
		<td>CD rom VTF Buss Lastebil Vogntog</td>

		<td></td>

		<td>794,-</td>
	</tr>

	<tr>
		<td>Veien til Yrkessj&aring;f&oslash;r buss/lastebil arbeidsbok</td>

		<td></td>

		<td>156,-</td>
	</tr>

	<tr>
		<td>Veien til Yrkessj&aring;f&oslash;r buss/lastebil
			Sp&oslash;rsm&aring;lsbok</td>

		<td></td>

		<td>169,-</td>
	</tr>

	<tr>
		<td>Veien til yrkessj&aring;f&oslash;r etterutdanning</td>

		<td></td>

		<td>225,-</td>
	</tr>

	<tr>
		<td>VTF Sp&oslash;rsm&aring;lsbok m/fasit</td>

		<td></td>

		<td>156,-</td>
	</tr>
	</tbody>
</table>

<h3>Klasse D</h3>

<table>
	<thead>
	<tr>
		<th>Oppl&aelig;ring</th>

		<th>Varighet</th>

		<th>Pris</th>
	</tr>
	</thead>

	<tbody>
	<tr>
		<td>Dobbel kj&oslash;retime</td>

		<td></td>

		<td>2500,-</td>
	</tr>

	<tr>
		<td>F&oslash;rerpr&oslash;ve</td>

		<td></td>

		<td>3500,-</td>
	</tr>

	<tr>
		<td>Kj&oslash;retime</td>

		<td></td>

		<td>1250,-</td>
	</tr>

	<tr>
		<td>Sikkerhetskontroll storbil</td>

		<td></td>

		<td>1100,-</td>
	</tr>

	<tr>
		<td>Sikkerhetskurs p&aring; vei, utvidelse fra C1 eller D1</td>

		<td></td>

		<td>5000,-</td>
	</tr>

	<tr>
		<td>Trinn 2 Veiledningstime</td>

		<td></td>

		<td>1250,-</td>
	</tr>

	<tr>
		<td>Trinn 3 Veiledningstime</td>

		<td></td>

		<td>1250,-</td>
	</tr>

	<tr>
		<td>Trinn 4 Sikkerhetskurs p&aring; vei</td>

		<td></td>

		<td>7500,-</td>
	</tr>

	<tr>
		<td>Trinn 4 Ulykkesberedskap</td>

		<td></td>

		<td>3200,-</td>
	</tr>

	<tr>
		<td>Trippel kj&oslash;retime</td>

		<td></td>

		<td>3300,-</td>
	</tr>
	</tbody>
</table>

<table>
	<thead>
	<tr>
		<th>Kurs</th>

		<th>Varighet</th>

		<th>Pris</th>
	</tr>
	</thead>

	<tbody>
	<tr>
		<td>Trinn 1 Grunnkurs</td>

		<td></td>

		<td>1300,-</td>
	</tr>

	<tr>
		<td>Trinn 4 Ulykkesberedskap</td>

		<td></td>

		<td>3200,-</td>
	</tr>
	</tbody>
</table>

<table>
	<thead>
	<tr>
		<th>Andre varer</th>

		<th>Varighet</th>

		<th>Pris</th>
	</tr>
	</thead>

	<tbody>
	<tr>
		<td>ATL arbeidsbok buss lastebil vogntog</td>

		<td></td>

		<td>320,-</td>
	</tr>

	<tr>
		<td>ATL lesebok buss,lastebil,vogntog</td>

		<td></td>

		<td>575,-</td>
	</tr>

	<tr>
		<td>CD rom VTF Buss Lastebil Vogntog</td>

		<td></td>

		<td>794,-</td>
	</tr>

	<tr>
		<td>Veien til Yrkessj&aring;f&oslash;r buss/lastebil</td>

		<td></td>

		<td>575,-</td>
	</tr>

	<tr>
		<td>Veien til yrkessj&aring;f&oslash;r etterutdanning</td>

		<td></td>

		<td>225,-</td>
	</tr>

	<tr>
		<td>Veien til Yrkessj&aring;f&oslash;r utv. lastebil-buss</td>

		<td></td>

		<td>225,-</td>
	</tr>

	<tr>
		<td>Veien til Yrkessj&aring;f&oslash;r utv. lastebil-buss</td>

		<td></td>

		<td>225,-</td>
	</tr>

	<tr>
		<td>VTF Sp&oslash;rsm&aring;lsbok m/fasit</td>

		<td></td>

		<td>156,-</td>
	</tr>
	</tbody>
</table>

<h3>Klasse D1</h3>

<table>
	<thead>
	<tr>
		<th>Oppl&aelig;ring</th>

		<th>Varighet</th>

		<th>Pris</th>
	</tr>
	</thead>

	<tbody>
	<tr>
		<td>Dobbel kj&oslash;retime</td>

		<td></td>

		<td>1800,-</td>
	</tr>

	<tr>
		<td>F&oslash;rerpr&oslash;ve</td>

		<td></td>

		<td>2700,-</td>
	</tr>

	<tr>
		<td>Kj&oslash;retime</td>

		<td></td>

		<td>900,-</td>
	</tr>

	<tr>
		<td>Sikkerhetskontroll storbil</td>

		<td></td>

		<td>1100,-</td>
	</tr>

	<tr>
		<td>Trinn 1 Grunnkurs</td>

		<td></td>

		<td>1300,-</td>
	</tr>

	<tr>
		<td>Trinn 2 Veiledningstime</td>

		<td></td>

		<td>900,-</td>
	</tr>

	<tr>
		<td>Trinn 3 Veiledningstime</td>

		<td></td>

		<td>900,-</td>
	</tr>

	<tr>
		<td>Trinn 4 Sikkerhetskurs p&aring; vei</td>

		<td></td>

		<td>4500,-</td>
	</tr>

	<tr>
		<td>Trinn 4 Ulykkesberedskap</td>

		<td></td>

		<td>3200,-</td>
	</tr>

	<tr>
		<td>Trippel kj&oslash;retime</td>

		<td></td>

		<td>2700,-</td>
	</tr>
	</tbody>
</table>

<table>
	<thead>
	<tr>
		<th>Kurs</th>

		<th>Varighet</th>

		<th>Pris</th>
	</tr>
	</thead>

	<tbody>
	<tr>
		<td>Trinn 1 Grunnkurs</td>

		<td></td>

		<td>1300,-</td>
	</tr>

	<tr>
		<td>Trinn 4 Ulykkesberedskap</td>

		<td></td>

		<td>3200,-</td>
	</tr>
	</tbody>
</table>

<table>
	<thead>
	<tr>
		<th>Andre varer</th>

		<th>Varighet</th>

		<th>Pris</th>
	</tr>
	</thead>

	<tbody>
	<tr>
		<td>ATL minibuss sp&oslash;rsm&aring;lsbok</td>

		<td></td>

		<td>156,-</td>
	</tr>

	<tr>
		<td>ATL Veien til f&oslash;rerkortet minibuss</td>

		<td></td>

		<td>208,-</td>
	</tr>

	<tr>
		<td>Veien til Yrkessj&aring;f&oslash;r buss/lastebil</td>

		<td></td>

		<td>575,-</td>
	</tr>

	<tr>
		<td>Veien til Yrkessj&aring;f&oslash;r buss/lastebil arbeidsbok</td>

		<td></td>

		<td>156,-</td>
	</tr>

	<tr>
		<td>Veien til Yrkessj&aring;f&oslash;r buss/lastebil
			Sp&oslash;rsm&aring;lsbok</td>

		<td></td>

		<td>169,-</td>
	</tr>

	<tr>
		<td>Veien til Yrkessj&aring;f&oslash;r utv. lastebil-buss</td>

		<td></td>

		<td>225,-</td>
	</tr>

	<tr>
		<td>Veien til Yrkessj&aring;f&oslash;r utv. lastebil-buss</td>

		<td></td>

		<td>225,-</td>
	</tr>
	</tbody>
</table>

<h3>Klasse D1E</h3>

<table>
	<thead>
	<tr>
		<th>Oppl&aelig;ring</th>

		<th>Varighet</th>

		<th>Pris</th>
	</tr>
	</thead>

	<tbody>
	<tr>
		<td>Dobbel kj&oslash;retime</td>

		<td></td>

		<td>2000,-</td>
	</tr>

	<tr>
		<td>F&oslash;rerpr&oslash;ve</td>

		<td></td>

		<td>3000,-</td>
	</tr>

	<tr>
		<td>Kj&oslash;retime</td>

		<td></td>

		<td>1000,-</td>
	</tr>

	<tr>
		<td>Trinn 2 Veiledningstime</td>

		<td></td>

		<td>1000,-</td>
	</tr>

	<tr>
		<td>Trinn 3 Veiledningstime</td>

		<td></td>

		<td>1000,-</td>
	</tr>

	<tr>
		<td>Trinn 4 Sikkerhetskurs p&aring; vei</td>

		<td></td>

		<td>4800,-</td>
	</tr>

	<tr>
		<td>Trippel kj&oslash;retime</td>

		<td></td>

		<td>3000,-</td>
	</tr>
	</tbody>
</table>

<table>
	<thead>
	<tr>
		<th>Kurs</th>

		<th>Varighet</th>

		<th>Pris</th>
	</tr>
	</thead>

	<tbody>
	<tr>
		<td>Trinn 4 Lastsikringskurs</td>

		<td></td>

		<td>1300,-</td>
	</tr>
	</tbody>
</table>

<h3>Klasse DE</h3>

<table>
	<thead>
	<tr>
		<th>Oppl&aelig;ring</th>

		<th>Varighet</th>

		<th>Pris</th>
	</tr>
	</thead>

	<tbody>
	<tr>
		<td>Dobbel kj&oslash;retime</td>

		<td></td>

		<td>2400,-</td>
	</tr>

	<tr>
		<td>F&oslash;rerpr&oslash;ve</td>

		<td></td>

		<td>2900,-</td>
	</tr>

	<tr>
		<td>Kj&oslash;retime</td>

		<td></td>

		<td>1200,-</td>
	</tr>

	<tr>
		<td>Trinn 2 Veiledningstime</td>

		<td></td>

		<td>1200,-</td>
	</tr>

	<tr>
		<td>Trinn 3 Veiledningstime</td>

		<td></td>

		<td>1200,-</td>
	</tr>

	<tr>
		<td>Trippel kj&oslash;retime</td>

		<td></td>

		<td>3600,-</td>
	</tr>
	</tbody>
</table>

<table>
	<thead>
	<tr>
		<th>Kurs</th>

		<th>Varighet</th>

		<th>Pris</th>
	</tr>
	</thead>

	<tbody>
	<tr>
		<td>Trinn 4 Lastsikringskurs</td>

		<td></td>

		<td>1300,-</td>
	</tr>
	</tbody>
</table>

<table>
	<thead>
	<tr>
		<th>Andre varer</th>

		<th>Varighet</th>

		<th>Pris</th>
	</tr>
	</thead>

	<tbody>
	<tr>
		<td>ATL arbeidsbok buss lastebil vogntog</td>

		<td></td>

		<td>320,-</td>
	</tr>

	<tr>
		<td>ATL lesebok buss,lastebil,vogntog</td>

		<td></td>

		<td>575,-</td>
	</tr>

	<tr>
		<td>CD rom VTF Buss Lastebil Vogntog</td>

		<td></td>

		<td>794,-</td>
	</tr>
	</tbody>
</table>

<h3>Klasse T</h3>

<table>
	<thead>
	<tr>
		<th>Oppl&aelig;ring</th>

		<th>Varighet</th>

		<th>Pris</th>
	</tr>
	</thead>

	<tbody>
	<tr>
		<td>Dobbel kj&oslash;retime</td>

		<td></td>

		<td>1500,-</td>
	</tr>

	<tr>
		<td>F&oslash;rerpr&oslash;ve</td>

		<td></td>

		<td>2500,-</td>
	</tr>

	<tr>
		<td>Kj&oslash;retime</td>

		<td></td>

		<td>750,-</td>
	</tr>

	<tr>
		<td>Trinn 2 Veiledningstime</td>

		<td></td>

		<td>750,-</td>
	</tr>

	<tr>
		<td>Trinn 3 Veiledningstime</td>

		<td></td>

		<td>750,-</td>
	</tr>

	<tr>
		<td>Trippeltime</td>

		<td></td>

		<td>2250,-</td>
	</tr>
	</tbody>
</table>

<table>
	<thead>
	<tr>
		<th>Kurs</th>

		<th>Varighet</th>

		<th>Pris</th>
	</tr>
	</thead>

	<tbody>
	<tr>
		<td>Trinn 4 Lastsikringskurs</td>

		<td></td>

		<td>1300,-</td>
	</tr>
	</tbody>
</table>

<table>
	<thead>
	<tr>
		<th>Andre varer</th>

		<th>Varighet</th>

		<th>Pris</th>
	</tr>
	</thead>

	<tbody>
	<tr>
		<td>ATL Veien til f&oslash;rerkortet CD-rom</td>

		<td></td>

		<td>690,-</td>
	</tr>

	<tr>
		<td>quiz lodd</td>

		<td></td>

		<td>30,-</td>
	</tr>

	<tr>
		<td>TF F&oslash;rerkortet lesebok</td>

		<td></td>

		<td>350,-</td>
	</tr>

	<tr>
		<td>TF F&oslash;rerkortet lydbok</td>

		<td></td>

		<td>350,-</td>
	</tr>

	<tr>
		<td>TF F&oslash;rerkortet Oppgavebok</td>

		<td></td>

		<td>220,-</td>
	</tr>

	<tr>
		<td>VTF Traktor lesebok</td>

		<td></td>

		<td>208,-</td>
	</tr>

	<tr>
		<td>VTF Traktor Sp&oslash;rsm&aring;lsbok</td>

		<td></td>

		<td>156,-</td>
	</tr>
	</tbody>
</table>

<table>
	<thead>
	<tr>
		<th>Digitale l&aelig;ringsressurser</th>

		<th>Varighet</th>

		<th>Pris</th>
	</tr>
	</thead>

	<tbody>
	<tr>
		<td>eTeori Kl B</td>

		<td></td>

		<td>0,-</td>
	</tr>
	</tbody>
</table>

<h3>YSK etterutdanning godstransport</h3>

<table>
	<thead>
	<tr>
		<th>Kurs</th>

		<th>Varighet</th>

		<th>Pris</th>
	</tr>
	</thead>

	<tbody>
	<tr>
		<td>Full etterutdanning godstransport</td>

		<td></td>

		<td>9000,-</td>
	</tr>

	<tr>
		<td>YSK Etterutdanning, utvidelse av kompetanse til gods</td>

		<td></td>

		<td>2000,-</td>
	</tr>
	</tbody>
</table>

<h3>YSK etterutdanning persontransport</h3>

<table>
	<thead>
	<tr>
		<th>Kurs</th>

		<th>Varighet</th>

		<th>Pris</th>
	</tr>
	</thead>

	<tbody>
	<tr>
		<td>Full Etterutdanning Persontransport</td>

		<td></td>

		<td>9000,-</td>
	</tr>

	<tr>
		<td>YSK Etterutdanning utvidelse av kompetanse til person</td>

		<td></td>

		<td>2000,-</td>
	</tr>
	</tbody>
</table>

<h3>YSK Godstransport YDG</h3>

<table>
	<thead>
	<tr>
		<th>Kurs</th>

		<th>Varighet</th>

		<th>Pris</th>
	</tr>
	</thead>

	<tbody>
	<tr>
		<td>Yrkesdirektiv Godstransport alle moduler</td>

		<td></td>

		<td>38000,-</td>
	</tr>

	<tr>
		<td>YSK Godstransport i samarb. med NKI</td>

		<td></td>

		<td>30000,-</td>
	</tr>
	</tbody>
</table>

<h3>YSK Persontransport YDP</h3>

<table>
	<thead>
	<tr>
		<th>Kurs</th>

		<th>Varighet</th>

		<th>Pris</th>
	</tr>
	</thead>

	<tbody>
	<tr>
		<td>Yrkesdirektivet Persontransport alle moduler</td>

		<td></td>

		<td>38000,-</td>
	</tr>

	<tr>
		<td>YSK Persontransport i samarb. med NKI</td>

		<td></td>

		<td>30000,-</td>
	</tr>
	</tbody>
</table>
