<h1>Yrkessjåførutdanning</h1>
<div class="col-md-6">
	<h2>Grunnutdanning 140 timer</h2>

	<p>Grunnutdanningen er på 140 timer med undervisning. Etter at vi startet samarbeid med NKI har vi redusert tidsbruken på kjøreskolen til under 80 timer. Eleven melder seg på både ved NKI, <a href="http://www.nki.no/">www.nki.no</a>, og ved kjøreskolen. Eleven må være ferdig med modul 1 og modul 2.3 før han kan starte hos oss. Modul 4 skal også tas ved NKI, resten ved kjøreskolen.</p>

	<p>Vi underviser 7 timer hver dag i litt over 2 uker. Oppmøte er obligatorisk, eksamen skal avlegges ved trafikkstasjonen etter endt kurs. Ved bestått blir yrkessjåførbevis utstedt.</p>
</div>
<div class="col-md-6">
	<h2>Etterutdanning 35 timer</h2>

	<p><strong>For elever som har behov for etterutdanning både for gods og person (tidligere kombinert) blir nå 35 timers kurset utvidet med en dag, sju timer. (35 timer gods + 7 timer person eller omvendt.)</strong></p>

	<p>Etterutdanningen skal gjennomføres med seks moduler fordelt på <strong>fem dager, sju timer pr. dag</strong> som gir total undervisningstid på 35 timer. Oppmøtet er obligatorisk, men det er ingen eksamen. Man må ha 100% oppmøte for å bli godkjent! Alle timene må tas i løpet av <strong>seks måneder</strong> for å få fornyet yrkessjåførkompetansen.</p>

	<p>Kurset gjennomføres for å opprettholde yrkessjåførkompetansen til den enkelte sjåfør ved å gjennomføre etterutdanning <strong>innen hvert femte år</strong> etter at bevis for yrkessjåførkompetanse ble utsendt for første gang eller fornyet.</p>

	<p><strong>Etter fullført kurs får du utstedt/fornyet yrkessjåførbeviset ved en trafikkstasjon. Yrkessjåførkompetansen er gyldig i 5 år fra siste kursdag.</strong></p>
</div>
