@import url("//fonts.googleapis.com/css?family=Francois+One|Source+Sans+Pro:400,300");

ul.team-nav {
	font-family: 'Francois One', sans-serif;
	li {
		float: left;
		list-style: none;
		border: 1px solid #000;
	}
}
