@import url("//fonts.googleapis.com/css?family=Francois+One|Source+Sans+Pro:900,700,400,300");

@import "variables.less";
@import "mixins.less";

html {
	height: 100%;
}

body {
	background: #8ccee4;
	font-family: 'Source Sans Pro', sans-serif;
	color: #000;
	min-height: 100%;
}

#main {
	min-height: 100%;
}

#push {
	width: 100%;
	height: 256px;
}

#imedias {
	padding: 24px;
	text-align: center;
	color: #555;
	bottom: 0;
	width: 100%;
	position: absolute;
	a {
		color: #555;
		&:hover {
			text-decoration: none;
		}
	}
}

#team-logo {
	margin: 20px 0px;
}

ul.team-nav {
	font-family: 'Francois One', sans-serif;
	margin: 34px 14px 34px 34px;
	li {
		float: left;
		list-style: none;
		border: 1px solid #000;
		border-left: none;
		font-size: 150%;
		text-transform: uppercase;
		padding: 5px 9px;
		&:first-child {
			border-left: 1px solid #000;
		}
		&:hover {
			background: rgba(255,255,255,0.2);
		}
		a {
			color: #000;
			&:hover,
			&.active,
			&:focus {
				color: #000;
				text-shadow: 1px 2px 0 #fff;
				text-decoration: none;
			}
			&:active {
				color: #000;
				text-decoration: none;
			}
	}
	}
}

#header {
	margin-bottom: 42px;
}

#background {
	position: absolute;
	z-index: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	svg {
		width: 3500px;
		&:not(:root) {
			overflow: visible !important;
		}
	}
}

.hoverable {
	cursor: pointer;
}

.bgblur {
	background: url('../img/blurredout_2.jpg');
	background-position: center top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #8ccee4;
}

#foreground {
	position: inherit;
	z-index: 100;
	min-height: 100%;
}

h1 {
	font-family: 'Francois One', sans-serif;
	font-size: 105px;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 0.075em;
	@media (max-width: @screen-md-min) {
		font-size: 68px;
	}
	@media (max-width: @screen-xs-min) {
		font-size: 48px;
	}
	span {
		float: left;
		position: relative;
		height: 1.2em;
		padding: 0 16px 0 0;
	}
	a {
		display: block;
		color: #fff;
		.transition(all 400ms cubic-bezier(0,.87,.67,.99));
		&:hover {
			color: #fff;
			margin-top: -2px;
			text-shadow: 0 4px 0 rgba(255,255,255,0.5);
		}
		&:active {
			color: #fff;
			margin-top: 0px;
			text-shadow: none;
		}
	}
}

h2 {
	font-family: 'Francois One', sans-serif;
	font-size: 48px;
	text-transform: uppercase;
	letter-spacing: 0.075em;
	padding-left: 6px;
	margin: 64px 0 24px;
}

h4 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 28px;
	text-transform: uppercase;
	letter-spacing: 0.075em;
	margin-top: 24px;
	font-weight: 700;
}

p {
	font-size: 26px;
	padding-left: 16px;
	font-weight: 300;
}

.btn-primary {
	background: #000;
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 28px;
	text-transform: uppercase;
	letter-spacing: 0.075em;
	margin-top: 24px;
	font-weight: 700;
	border: none;
	&:link,
	&:hover,
	&:active,
	&:focus {
		background: #333;
	}
	&:visited {
		background: #000;
	}
}

.small-text {
	font-size: 60%;
}

table.table {
	border: 2px solid #000;
	border-collapse: collapse;
	margin: 18px 6px;
	font-size: 28px;

	&> thead > tr > th {
		border: 2px solid #000;
		width: 70%;
		font-size: 33px;
		padding: 8px 24px 8px;
	}
	tr {
		&.contracted {
			.transition(max-height 400ms cubic-bezier(0,.87,.67,.99));
			max-height: 0;
			display: none;
		}
	}
	th {
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 0.075em;
	}
	&> tbody > tr > td {
		padding: 2px 4px 4px 24px;
	}
	td {
		border: none;
		border-bottom: 1px solid #000;
		letter-spacing: 0.075em;
		font-weight: 300;
		.transition(all 400ms cubic-bezier(0,.87,.67,.99));
		a {
			color: #000;
			display: block;
			width: 100%;
			height: 100%;
			&:hover {
				text-decoration: none;
			}
		}
	}
}

table.table-dock-below {
	margin-bottom: -2px;
}

div.table-dock {
	.transition(margin 400ms cubic-bezier(0,.87,.67,.99));
	table.table {
		margin: -2px 6px;
		td {

		}
		& > tbody > tr > td {
			border-top: none;
			&.half {
				width: 70%;
			}
		}
	}
	&:last-child {
		border-bottom: 2px solid #000 !important;
	}
	thead {
		display: none;
	}
	.table-head {
		font-size: 18px;
		thead {
			display: table-header-group !important;
			th {
				font-size: 22px;
				border: none;
				width: 20%;
				&.large {
					width: 25% !important;
				}
			}
		}
		td {
			border-bottom: 1px solid #000 important;
		}
		tr {
			border-bottom: 1px solid #000 important;
		}
		& > tbody > tr > td {
			width: 10% !important;
		}
	}
	&.expanded {
		margin: 16px 0;
	}
}

table.table-hover {
	td:hover {
		background: rgba(255,255,255,0.2);
	}
	&.expanded {
		background: rgba(255,255,255,0.9);
	}
}

.table-wrap {
	border: 1px solid #000;
	padding: 36px 24px;
}

table.table-condensed {
	border: none;
	margin: 0;
	&> tbody > tr > td {
		padding: 0 12px 0 24px;
	}
	tr {
		td {
			text-align: right;
			font-size: 20px;
			border: none;
		}
		&:first-child {
			width: 70%;
		}
	}
	tfoot {
		td {
			font-size: 28px;
			border-top: 1px solid #000;
			border-bottom: 4px double #000;
		}
	}
}

#laerere {
	.panel {
		background: none;
	}
	.panel-default {
		border: 2px solid #000;
	}
	.panel-header {
		.img-container {
			width: 100%;
			height: 260px;
			overflow: hidden;
			img {
				width: 100%;
				background: #000;
			}
		}
		h3 {
			font-family: 'Source Sans Pro', sans-serif;
			font-size: 24px;
			font-weight: 700;
			text-transform: uppercase;
			margin-bottom: 21px;
		}
	}
	.panel-body {
		padding: 0;
		table {
			border-top: 2px solid #000;
			margin-right: -18px;
			margin-bottom: 0;
			width: 100%;
			tr {
				font-size: 17px;
				td {
					padding: 10px;
				}
				td.black-icon {
					background: #000;
					width: 60px;
					i {
						display: inline-block;
						color: #fff;
						vertical-align: middle;
						margin: 0 2px;
						&.fa-mobile {
							margin: -8px 8px;
						}
					}
				}
				&:first-child {
					border-bottom: 2px solid #000;
				}
			}
			a {
				color: #000;
				&:hover,
				&:focus {
					text-decoration: none;
					color: #444;
				}
			}
		}

	}
}

.modal-content {
	border: 2px solid #000;
	p {
		font-size: 18px;
	}

	.form-inline .form-group {
		margin-bottom: 4px;
	}

	table.table {
		border: none;
		font-size: 22px;
		margin: 6px 6px 6px -2px;
		td {
			border: none;
		}
	}
	.col-md-12 {
		float: inherit;
		clear: both;
	}
}

.modal-header {
	border-bottom: 2px solid #000;
}

.modal-footer {
	border-top: 2px solid #000;
}

.modal-backdrop.am-fade,
.aside-backdrop.am-fade {
	background: rgba(255, 255, 255, 0.5);
}
