@import url("//fonts.googleapis.com/css?family=Francois+One|Source+Sans+Pro:400,300");
body {
  background: #d1ecf7;
  font-family: 'Source Sans Pro', sans-serif;
}
#team-logo {
  margin: 18px 0 18px 94px;
}
ul.team-nav {
  font-family: 'Francois One', sans-serif;
  margin: 34px;
}
ul.team-nav li {
  float: left;
  list-style: none;
  border: 1px solid #000;
  border-left: none;
  font-size: 150%;
  text-transform: uppercase;
  padding: 5px 9px;
}
ul.team-nav li:first-child {
  border-left: 1px solid #000;
}
ul.team-nav li a {
  color: #000;
}
ul.team-nav li a:hover {
  color: #000;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}
ul.team-nav li a:active {
  color: #000;
}
h1 {
  font-family: 'Francois One', sans-serif;
  font-size: 300%;
}
table.table {
  border: 2px solid #000;
  border-collapse: collapse;
}
table.table th {
  text-transform: uppercase;
  border: 2px solid #000;
}
table.table td {
  border: none;
  border-bottom: 1px solid #000;
}
table.table-hover {
  background: rgba(255, 255, 255, 0.2);
}
