@import url("//fonts.googleapis.com/css?family=Francois+One|Source+Sans+Pro:900,700,400,300");
html {
  height: 100%;
}
body {
  background: #8ccee4;
  font-family: 'Source Sans Pro', sans-serif;
  color: #000;
  min-height: 100%;
}
#main {
  min-height: 100%;
}
@media (max-width: 768px) {
  #main {
    margin-top: -48px;
  }
}
#push {
  width: 100%;
  height: 256px;
}
@media (max-width: 768px) {
  #push {
    height: 0;
    display: none;
  }
}
#imedias {
  padding: 24px;
  text-align: center;
  color: #555;
  bottom: 0;
  width: 100%;
}
#imedias a {
  color: #555;
}
#imedias a:hover {
  text-decoration: none;
}
.page-home #imedias {
  display: none;
}
#team-logo {
  margin: 20px 0px;
}
@media (max-width: 992px) {
  #team-logo img {
    width: 200px;
  }
}
@media (max-width: 768px) {
  #team-logo img {
    width: 140px;
  }
}
ul.team-nav {
  font-family: 'Francois One', sans-serif;
  margin: 34px 14px 34px 34px;
}
ul.team-nav li {
  float: left;
  list-style: none;
  border: 1px solid #000;
  border-left: none;
  font-size: 20px;
  text-transform: uppercase;
}
ul.team-nav li:first-child {
  border-left: 1px solid #000;
}
ul.team-nav li:hover {
  background: rgba(255, 255, 255, 0.2);
}
@media (max-width: 992px) {
  ul.team-nav li:hover {
    background: #fff;
  }
}
@media (max-width: 992px) {
  ul.team-nav li {
    border-left: 1px solid #000;
    margin: -1px 0 0 0;
    width: 150%;
    text-align: center;
    background: #fff;
    padding: 2px 12px;
  }
}
ul.team-nav li a {
  color: #000;
}
ul.team-nav li a:hover,
ul.team-nav li a.active,
ul.team-nav li a:focus {
  color: #000;
  text-shadow: 1px 2px 0 #fff;
  text-decoration: none;
}
@media (max-width: 992px) {
  ul.team-nav li a:hover,
  ul.team-nav li a.active,
  ul.team-nav li a:focus {
    background: #fff;
  }
}
ul.team-nav li a.active::after {
  border-bottom: 5px solid #000;
  content: "";
  left: 8%;
  position: absolute;
  right: 8%;
  top: 45%;
}
ul.team-nav li a:active {
  color: #000;
  text-decoration: none;
}
@media (max-width: 992px) {
  ul.team-nav li {
    display: block;
    float: right;
    clear: both;
  }
}
@media (max-width: 992px) {
  ul.team-nav {
    position: absolute;
    top: 23px;
    right: 0;
    z-index: 1000;
  }
}
a {
  color: #000;
}
a:hover {
  text-decoration: none;
}
#mobilehome hr {
  margin: 0 -15px 10px;
}
.col-xs-6 {
  margin-bottom: 12px;
  vertical-align: middle;
  padding-top: 5%;
  padding-right: 0;
  padding-left: 8px;
}
.col-xs-6 img {
  width: 100%;
  margin-top: -20%;
}
.col-xs-6 div {
  display: inline-block;
  vertical-align: middle;
}
.col-xs-6 h3 {
  font-family: 'Francois One', sans-serif;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}
@media (max-width: 380px) {
  .col-xs-6 h3 {
    margin-top: 6px;
    font-size: 24px;
  }
}
@media (max-width: 300px) {
  .col-xs-6 h3 {
    margin-top: 10px;
    font-size: 18px;
  }
}
.col-xs-6:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
@media (max-width: 380px) {
  .col-xs-6 {
    padding-top: 4%;
    padding-left: 4px;
  }
}
hr {
  border-top: none;
  border-bottom: 1px solid #555;
  clear: both;
}
.imgfooter {
  margin-left: -15px;
  margin-right: -15px;
  overflow: hidden;
}
.imgfooter img {
  width: 100%;
}
.navbar-collapse {
  border: none;
}
.navbar-nav > li > a {
  padding: 10px;
}
@media (max-width: 1200px) {
  .navbar-nav > li > a {
    padding: 8px;
  }
}
@media (max-width: 992px) {
  .navbar-nav > li > a {
    padding: 6px;
  }
}
@media (max-width: 768px) {
  .navbar-nav > li > a {
    padding: 4px;
  }
}
.navbar-header {
  margin: 18px 14px 0 0;
  float: right;
  border: none;
}
.navbar-header button {
  border: 1px solid #000;
  padding: 5px 9px;
  background: #fff;
}
.navbar-toggle {
  margin: 0;
}
#header {
  margin-bottom: 42px;
}
#background {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#background svg {
  width: 3500px;
}
#background svg:not(:root) {
  overflow: visible !important;
}
.hoverable {
  cursor: pointer;
}
.bgblur {
  background: url('../img/blurredout_2.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #8ccee4;
}
#foreground {
  position: inherit;
  z-index: 100;
  min-height: 100%;
}
h1 {
  font-family: 'Francois One', sans-serif;
  font-size: 105px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.075em;
}
@media (max-width: 992px) {
  h1 {
    font-size: 68px;
  }
}
@media (max-width: 480px) {
  h1 {
    font-size: 48px;
  }
}
h1 span {
  float: left;
  position: relative;
  height: 1.2em;
  padding: 0 16px 0 0;
}
h1 a {
  display: block;
  color: #fff;
  -webkit-transition: all 400ms cubic-bezier(0, 0.87, 0.67, 0.99);
  -o-transition: all 400ms cubic-bezier(0, 0.87, 0.67, 0.99);
  transition: all 400ms cubic-bezier(0, 0.87, 0.67, 0.99);
}
h1 a:hover {
  color: #fff;
  margin-top: -2px;
  text-shadow: 0 4px 0 rgba(255, 255, 255, 0.5);
}
h1 a:active {
  color: #fff;
  margin-top: 0px;
  text-shadow: none;
}
h2 {
  font-family: 'Francois One', sans-serif;
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  padding-left: 6px;
  margin: 64px 0 24px;
}
@media (max-width: 992px) {
  h2 {
    font-size: 36px;
  }
}
@media (max-width: 480px) {
  h2 {
    font-size: 28px;
  }
}
h4 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  margin-top: 24px;
  font-weight: 700;
}
@media (max-width: 992px) {
  h4 {
    font-size: 24px;
  }
}
@media (max-width: 480px) {
  h4 {
    font-size: 20px;
  }
}
p {
  font-size: 26px;
  padding-left: 16px;
  font-weight: 300;
}
@media (max-width: 992px) {
  p {
    font-size: 22px;
  }
}
@media (max-width: 480px) {
  p {
    font-size: 18px;
  }
}
.btn-primary {
  background: #53cff6;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  margin-top: 12px;
  font-weight: 700;
  border: none;
}
.btn-primary:link,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background: #6fd7f7;
}
.btn-primary:visited {
  background: #53cff6;
}
@media (max-width: 992px) {
  .btn-primary {
    font-size: 24px;
  }
}
@media (max-width: 480px) {
  .btn-primary {
    font-size: 20px;
  }
}
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #888;
}
.btn-primary-black {
  background: #000;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  margin-top: 24px;
  font-weight: 700;
  border: none;
}
.btn-primary-black:link,
.btn-primary-black:hover,
.btn-primary-black:active,
.btn-primary-black:focus {
  background: #333;
}
.btn-primary-black:visited {
  background: #000;
}
@media (max-width: 992px) {
  .btn-primary-black {
    font-size: 24px;
  }
}
@media (max-width: 480px) {
  .btn-primary-black {
    font-size: 20px;
  }
}
.small-text {
  font-size: 60%;
}
@media (max-width: 992px) {
  .small-text {
    font-size: 90%;
  }
}
@media (max-width: 480px) {
  .small-text {
    font-size: 80%;
  }
}
table.table {
  border: 2px solid #000;
  border-collapse: collapse;
  margin: 18px 6px;
  font-size: 28px;
}
@media (max-width: 992px) {
  table.table {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  table.table {
    font-size: 16px;
    max-width: 95%;
  }
}
table.table > thead > tr > th {
  border: 2px solid #000;
  width: 70%;
  font-size: 33px;
  padding: 8px 24px 8px;
}
@media (max-width: 992px) {
  table.table > thead > tr > th {
    font-size: 24px;
  }
}
@media (max-width: 480px) {
  table.table > thead > tr > th {
    font-size: 18px;
  }
}
table.table tr.contracted {
  -webkit-transition: max-height 400ms cubic-bezier(0, 0.87, 0.67, 0.99);
  -o-transition: max-height 400ms cubic-bezier(0, 0.87, 0.67, 0.99);
  transition: max-height 400ms cubic-bezier(0, 0.87, 0.67, 0.99);
  max-height: 0;
  display: none;
}
table.table th {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.075em;
}
table.table > tbody > tr > td {
  padding: 8px 4px 8px 24px;
  line-height: 1.2;
}
table.table td {
  border: none;
  border-bottom: 1px solid #000;
  letter-spacing: 0.075em;
  font-weight: 300;
  -webkit-transition: all 400ms cubic-bezier(0, 0.87, 0.67, 0.99);
  -o-transition: all 400ms cubic-bezier(0, 0.87, 0.67, 0.99);
  transition: all 400ms cubic-bezier(0, 0.87, 0.67, 0.99);
}
table.table td a {
  color: #000;
  display: block;
  width: 100%;
  height: 100%;
}
table.table td a:hover {
  text-decoration: none;
}
table.table-dock-below {
  margin-bottom: -2px;
}
div.table-dock {
  -webkit-transition: margin 400ms cubic-bezier(0, 0.87, 0.67, 0.99);
  -o-transition: margin 400ms cubic-bezier(0, 0.87, 0.67, 0.99);
  transition: margin 400ms cubic-bezier(0, 0.87, 0.67, 0.99);
}
div.table-dock table.table {
  margin: -2px 6px;
}
div.table-dock table.table > tbody > tr > td {
  border-top: none;
}
div.table-dock table.table > tbody > tr > td.half {
  width: 70%;
}
div.table-dock:last-child {
  border-bottom: 2px solid #000 !important;
}
div.table-dock thead {
  display: none;
}
div.table-dock .table-head {
  font-size: 18px;
}
@media (max-width: 992px) {
  div.table-dock .table-head {
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  div.table-dock .table-head {
    font-size: 14px;
  }
}
div.table-dock .table-head thead {
  display: table-header-group !important;
}
div.table-dock .table-head thead th {
  font-size: 22px;
  border: none;
  width: 20%;
}
div.table-dock .table-head thead th.large {
  width: 25% !important;
}
@media (max-width: 992px) {
  div.table-dock .table-head thead th {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  div.table-dock .table-head thead th {
    font-size: 14px;
  }
}
div.table-dock .table-head td {
  border-bottom: 1px solid #000 important;
}
div.table-dock .table-head tr {
  border-bottom: 1px solid #000 important;
}
div.table-dock .table-head > tbody > tr > td {
  width: 10% !important;
}
div.table-dock.expanded {
  margin: 16px 0;
}
table.table-hover td:hover {
  background: rgba(255, 255, 255, 0.2);
}
table.table-hover.expanded {
  background: rgba(255, 255, 255, 0.9);
}
.table-wrap {
  border: 1px solid #000;
  padding: 36px 24px;
}
table.table-condensed {
  border: none;
  margin: 0;
}
table.table-condensed > tbody > tr > td {
  padding: 0 12px 0 24px;
}
table.table-condensed tr td {
  text-align: right;
  font-size: 20px;
  border: none;
}
@media (max-width: 992px) {
  table.table-condensed tr td {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  table.table-condensed tr td {
    font-size: 14px;
  }
}
table.table-condensed tr:first-child {
  width: 70%;
}
table.table-condensed tfoot td {
  font-size: 28px;
  border-top: 1px solid #000;
  border-bottom: 4px double #000;
}
@media (max-width: 992px) {
  table.table-condensed tfoot td {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  table.table-condensed tfoot td {
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .table-x-responsive > tbody > tr td:nth-child(2),
  .table-x-responsive > thead > tr td:nth-child(2),
  .table-x-responsive > tbody > tr th:nth-child(2),
  .table-x-responsive > thead > tr th:nth-child(2),
  .table-x-responsive > tbody > tr td:nth-child(4),
  .table-x-responsive > thead > tr td:nth-child(4),
  .table-x-responsive > tbody > tr th:nth-child(4),
  .table-x-responsive > thead > tr th:nth-child(4) {
    display: none;
  }
}
@media (max-width: 768px) {
  .table-x-responsive > tbody > tr td:nth-child(4),
  .table-x-responsive > thead > tr td:nth-child(4),
  .table-x-responsive > tbody > tr th:nth-child(4),
  .table-x-responsive > thead > tr th:nth-child(4) {
    display: none;
  }
}
.panel {
  background: none;
}
.panel h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  color: #000;
  font-size: 32px;
  padding: 12px 24px;
  margin-top: -2px;
}
.panel p {
  font-size: 22px;
  padding: 8px 32px;
}
.panel-default {
  border: 2px solid #000;
}
.panel-header .img-container {
  width: 100%;
  height: 260px;
  overflow: hidden;
}
.panel-header .img-container img {
  width: 100%;
  background: #000;
}
.panel-header h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 21px;
}
@media (max-width: 992px) {
  .panel-header h3 {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  .panel-header h3 {
    font-size: 18px;
  }
}
.panel-body {
  padding: 0;
}
.panel-body table {
  border-top: 2px solid #000;
  margin-right: -18px;
  margin-bottom: 0;
  width: 100%;
}
.panel-body table tr {
  font-size: 17px;
}
@media (max-width: 992px) {
  .panel-body table tr {
    font-size: 15px;
  }
}
@media (max-width: 480px) {
  .panel-body table tr {
    font-size: 13px;
  }
}
.panel-body table tr td {
  padding: 10px;
}
.panel-body table tr td.black-icon {
  background: #000;
  width: 60px;
}
.panel-body table tr td.black-icon i {
  display: inline-block;
  color: #fff;
  vertical-align: middle;
  margin: 0 2px;
}
.panel-body table tr td.black-icon i.fa-mobile {
  margin: -8px 8px;
}
.panel-body table tr:first-child {
  border-bottom: 2px solid #000;
}
.panel-body table a {
  color: #000;
}
.panel-body table a:hover,
.panel-body table a:focus {
  text-decoration: none;
  color: #444;
}
.modal-body {
  padding: 20px 20px 0;
}
.modal-content {
  border: 2px solid #000;
}
.modal-content p {
  font-size: 18px;
}
@media (max-width: 992px) {
  .modal-content p {
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .modal-content p {
    font-size: 14px;
  }
}
.modal-content h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin-top: -6px;
  margin-bottom: 18px;
  text-indent: 12px;
}
@media (max-width: 992px) {
  .modal-content h3 {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  .modal-content h3 {
    font-size: 16px;
  }
}
.modal-content .form-group {
  margin-bottom: 24px;
}
@media (max-width: 992px) {
  .modal-content .form-group {
    margin-bottom: 16px;
  }
}
.modal-content .form-inline .form-group {
  margin-bottom: 4px;
}
.modal-content .tablewrap {
  margin: -2px -14px 24px -26px !important;
}
.modal-content table.table {
  border: none;
  font-size: 22px;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid #888 !important;
}
@media (max-width: 992px) {
  .modal-content table.table {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  .modal-content table.table {
    font-size: 14px;
  }
}
.modal-content table.table td {
  border: none;
  border-top: 1px solid #888 !important;
  padding: 6px 4px 8px 36px;
}
.modal-content form {
  margin-top: 12px;
}
.modal-content hr {
  margin: 12px -20px;
}
.modal-content .col-md-12 {
  float: inherit;
  clear: both;
}
.formbox {
  margin: -8px;
  margin-bottom: 8px;
  padding: 8px;
  border: 1px dashed #999;
}
.formbox .form-group {
  margin-bottom: 0;
}
.formbox p {
  font-size: 16px;
  color: #555;
  margin-bottom: 0;
}
.errorbox {
  height: 2em;
  overflow: hidden;
  font-align: center;
}
.errorbox .label {
  margin: 0;
  margin-bottom: 12px;
  clear: both;
}
.has-success .form-control {
  border-color: none;
}
.datepicker .btn {
  padding: 4px !important;
  margin: 0;
  font-size: 16px;
}
.datepicker td {
  width: 5%;
}
.datepicker th {
  font-size: 15px !important;
  width: auto !important;
}
.modal-header {
  padding: 10px 20px;
  border-bottom: 2px solid #000;
}
.modal-header button {
  font-size: 42px;
  border-left: 2px solid #000;
  color: #000;
}
@media (max-width: 992px) {
  .modal-header button {
    font-size: 32px;
  }
}
@media (max-width: 480px) {
  .modal-header button {
    font-size: 24px;
  }
}
.modal-header .close {
  opacity: 1 !important;
  margin-top: -51px;
  padding: 10px 2px 9px 20px;
}
@media (max-width: 992px) {
  .modal-header .close {
    margin-top: -45px;
    font-size: 32px;
    padding: 12px 2px 12px 20px;
  }
}
@media (max-width: 480px) {
  .modal-header .close {
    margin-top: -38px;
    font-size: 24px;
  }
}
.modal-footer {
  border-top: none;
  text-align: center;
  padding: 2px 0 40px 0;
}
.modal-backdrop.am-fade,
.aside-backdrop.am-fade {
  background: rgba(255, 255, 255, 0.5);
}
.text-clear {
  clear: both;
  margin: 24px 0;
}
.label {
  display: inline-block;
  font-size: 16px;
  border-radius: 0;
  margin-top: 12px;
  margin-left: 12px;
}
.label-warning {
  padding-top: 4px;
  background-color: #000;
}
