@import url("//fonts.googleapis.com/css?family=Francois+One|Source+Sans+Pro:900,700,400,300");
body {
  background: #8ccee4;
  font-family: 'Source Sans Pro', sans-serif;
  color: #000;
}
#team-logo {
  margin: 20px 0px 18px 102px;
}
ul.team-nav {
  font-family: 'Francois One', sans-serif;
  margin: 34px 14px 34px 34px;
}
ul.team-nav li {
  float: left;
  list-style: none;
  border: 1px solid #000;
  border-left: none;
  font-size: 150%;
  text-transform: uppercase;
  padding: 5px 9px;
}
ul.team-nav li:first-child {
  border-left: 1px solid #000;
}
ul.team-nav li:hover {
  background: rgba(255, 255, 255, 0.2);
}
ul.team-nav li a {
  color: #000;
}
ul.team-nav li a:hover,
ul.team-nav li a.active {
  color: #000;
  text-shadow: 1px 2px 0 #fff;
  text-decoration: none;
}
ul.team-nav li a:active {
  color: #000;
  text-decoration: none;
}
#header {
  margin-bottom: 42px;
}
#background {
  position: absolute;
  z-index: 0;
  width: 100%;
}
#background svg {
  width: 100%;
}
#background svg:not(:root) {
  overflow: visible !important;
}
#background svg .hoverable {
  cursor: pointer;
}
.bgblur {
  background: url('../img/blurredout_2.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #8ccee4;
}
#foreground {
  position: relative;
  z-index: 100;
}
h1 {
  font-family: 'Francois One', sans-serif;
  font-size: 700%;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.075em;
}
.small-text {
  font-size: 60%;
}
table.table {
  border: 2px solid #000;
  border-collapse: collapse;
  margin: 18px 6px;
  font-size: 28px;
}
table.table > thead > tr > th {
  border: 2px solid #000;
  width: 52%;
  font-size: 33px;
  padding: 8px 24px 8px;
}
table.table tr.contracted {
  -webkit-transition: max-height 400ms cubic-bezier(0, 0.87, 0.67, 0.99);
  -o-transition: max-height 400ms cubic-bezier(0, 0.87, 0.67, 0.99);
  transition: max-height 400ms cubic-bezier(0, 0.87, 0.67, 0.99);
  max-height: 0;
  display: none;
}
table.table th {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.075em;
}
table.table > tbody > tr > td {
  padding: 2px 4px 4px 24px;
}
table.table td {
  border: none;
  border-bottom: 1px solid #000;
  letter-spacing: 0.075em;
  font-weight: 300;
  -webkit-transition: all 400ms cubic-bezier(0, 0.87, 0.67, 0.99);
  -o-transition: all 400ms cubic-bezier(0, 0.87, 0.67, 0.99);
  transition: all 400ms cubic-bezier(0, 0.87, 0.67, 0.99);
}
table.table td:hover {
  padding: 2px 4px 4px 26px !important;
}
table.table td a {
  color: #000;
}
table.table td a:hover {
  text-decoration: none;
}
table.table-dock-below {
  margin-bottom: -2px;
}
div.table-dock {
  -webkit-transition: margin 400ms cubic-bezier(0, 0.87, 0.67, 0.99);
  -o-transition: margin 400ms cubic-bezier(0, 0.87, 0.67, 0.99);
  transition: margin 400ms cubic-bezier(0, 0.87, 0.67, 0.99);
}
div.table-dock table.table {
  margin: -2px 6px;
}
div.table-dock table.table > tbody > tr > td {
  border-top: none;
}
div.table-dock table.table > tbody > tr > td.half {
  width: 50%;
}
div.table-dock:last-child {
  border-bottom: 2px solid #000 !important;
}
div.table-dock thead {
  display: none;
}
div.table-dock .table-head {
  font-size: 18px;
}
div.table-dock .table-head thead {
  display: table-header-group !important;
}
div.table-dock .table-head thead th {
  font-size: 22px;
  border: none;
  width: 20%;
}
div.table-dock .table-head thead th.large {
  width: 25% !important;
}
div.table-dock .table-head td {
  border-bottom: 1px solid #000 important;
}
div.table-dock .table-head tr {
  border-bottom: 1px solid #000 important;
}
div.table-dock .table-head > tbody > tr > td {
  width: 10% !important;
}
div.table-dock.expanded {
  margin: 16px 0;
}
table.table-hover td:hover {
  background: rgba(255, 255, 255, 0.2);
}
table.table-hover.expanded {
  background: rgba(255, 255, 255, 0.9);
}
#laerere .panel {
  background: none;
}
#laerere .panel-default {
  border: 2px solid #000;
}
#laerere .panel-header .img-container {
  width: 100%;
  height: 260px;
  overflow: hidden;
}
#laerere .panel-header .img-container img {
  width: 100%;
  background: #000;
}
#laerere .panel-header h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 140%;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 12px;
}
#laerere .panel-body {
  padding-bottom: 0;
}
#laerere .panel-body ul {
  border-top: 2px solid #000;
  margin-left: -16px;
  margin-right: -16px;
  margin-bottom: 0;
}
#laerere .panel-body ul li {
  list-style: none;
  margin-left: -40px;
}
#laerere .panel-body ul li i {
  color: #fff;
  background: #000;
  padding: 12px;
  vertical-align: middle;
}
#laerere .panel-body ul li i.fa-mobile {
  padding: 6px 17.5px;
}
#laerere .panel-body ul li:first-child {
  border-bottom: 2px solid #000;
}
#laerere .panel-body ul li span {
  margin-left: 12px;
}
